/* Layout */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
    font-family: 'Avenir', 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
header {
    width: 100%;
    padding: 20px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
}

header h1, header h1 .logo {
    display: flex;
    align-items: center;
}

header h1 .logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

/* Title */
h1 {
    margin: 0;
    font-family: 'Silkscreen', 'Courier New', Courier, monospace;
}

h2 {
    font-size: 60px; /* Reduced font size for larger screens */
    margin-bottom: 0;
}

/* Main */
main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 5%; /* Default padding for smaller screens */
}

/* Paragraph */
p {
    font-size: 16px; /* Default font size for smaller screens */
    padding: 0 5%;
}

/* Media Queries */
@media (min-width: 768px) {
    main {
        padding: 0 10%; /* Increased padding for larger screens */
    }
    p {
        font-size: 18px; /* Slightly increased font size for better readability on larger screens */
        padding: 0 10%;
    }
    h2 {
        font-size: 72px; /* Reduced font size for headlines on larger screens */
    }
}